*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* home navbar bg*/
.fixed-background{
    background-image: url('../Assets/Home/Background_Img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    max-width: 100%;
    max-height: 630px;
}
.fixed-background2{
  background-image: url('../Assets/Home/Background_Img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    max-width: 100%;
    

}   

/* home footer bg */
.footerfixed-background2{
    background-image: url('../Assets/Home/Footer_BGImg.png ');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}


.h1,h1{
    font-weight: 500 !important;
    font-size: 55px;
   
  
}
.h2,h2{
    font-weight: 400;
    font-size: 50px;
    
}
.h3,h3{
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: "poppins", "sans-serif";
}
.h4,h4{
    font-weight: 200;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.h5,h5{
    font-weight: 100;
    font-size: 25px;
}
.h6,h6{
    font-weight: 300;
    font-size: 15px;
    font-family: Trebuchet MS;
}
.p,p{
    font-weight: 100;
    font-size: 15px;

}
.text-primary{
    color: rgb(95, 42, 22)!important;
   
}
/* contact page card */
.contactcard{
    border-radius: 20px;
    border: 1px none ;
    width: 150px;
    height: 100px;
    box-shadow: 2px 2px 4px 1px  rgba(128, 128, 128, 0.3);
}   
/* sign up input */
.input2{
    border: none;
    border-radius: 20px;
}
.flex-card{
    box-shadow: 0px 2px 4px 3px rgba(255, 203, 14, 0.275);
    border-radius: 20px;
     transition: transform 0.3s ease-in-out;
}
.flex-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 2px 4px 3px rgba(255, 203, 14, 0.493);
}
.image{
      transition: transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in;
}
.image:hover{
transform: translateY(6px);
transform: translateX(6px);
}

/* home page find a table */
 
   .icons{
    font-size: 60px;
    color: white;
   }
   .icons-2{
    display: flex;
    justify-content: between;
    align-items: center;
    margin-left: 40px;
}
.customtext{
    position: relative;
    top: 50px;
    left: 0px;
}
.carousel-img {
  height: 200px;        /* adjust as needed */
  width: 200px;
  
}
.acc-card{
     transition: transform 0.3s ease-in-out;
     box-shadow: 0px 2px 4px 3px rgba(255, 201, 6, 0.232);
     
}
.acc-card:hover{
     transform: translateY(-6px);
  box-shadow: 0px 2px 4px 3px rgba(255, 201, 6, 0.37);
}


 


