*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}
/* home navbar bg*/
.fixed-background{
    background-image: url('../Assets/Home/Background_Img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
/* home footer bg */
.footerfixed-background2{
    background-image: url('../Assets/Home/Footer_BGImg.png ');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    
}


.h1,h1{
    font-weight: 500 !important;
    font-size: 55px;
    color: rgba(255, 197, 7, 0.968);
  text-shadow: 5px 5px 3px  rgb(0, 0, 0);;
}
.h2,h2{
    font-weight: 400;
    font-size: 50px;
    
}
.h3,h3{
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: "poppins", "sans-serif";
}
.h4,h4{
    font-weight: 200;
    font-size: 30px;
}
.h5,h5{
    font-weight: 100;
    font-size: 25px;
}
.h6,h6{
    font-weight: 300;
    font-size: 15px;
    font-family: Trebuchet MS;
}
.p,p{
    font-weight: 100;
    font-size: 15px;
    font-family: none;
}
.text-primary{
    color: #000000 !important;
   
}

.flex-card{
    
   
    max-width: auto;
    height:auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
/* career page card */
.careercard{
       max-width: 1200px;
        width: 100%;
        height: 600px;
        border-radius: 20px;
        margin: 0px 30px 40px 6px; 
        box-shadow: 0 4px 4px 0 rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.438);
        color: rgb(255, 3, 3);
        
     }
 
/* contact page card */
.circle{
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    width: fit-content;
    box-shadow: 0 4px 4px 0  rgba(128, 128, 128, 0.3);
}

/* menu & branch card */
   .card-2 {
       display: block;
       top: 0px;
       border: 1px solid rgba(128, 128, 128, 0.394) ;
       text-align: center;
       position: relative;
       max-width: 300%;
       max-height:500px ;
       background-color: #ffffffe6;
       border-radius: 10px;
       padding: 32px 24px;
       margin: 12px;
       text-decoration: none;
       z-index: 0;
       overflow: hidden;
       border: 1px solid #999999;

  &:hover {
       transition: all 0.2s ease-out;
       box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
       top: -4px;
       border: 1px solid #cccccc;
       background-color: white;
    }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #fff019;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

     
/* home page table booking input */

/* sign up input */
.input2{
    border: none;
    border-radius: 20px;
}
/* menu page  add btn */
.buybtn{
    background-color: rgb(255, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 150px;
    margin: 10px ;
}
/* home page find a table */
 .tablebtn{
    background-color: red;
    border: 1px grey;
    color: white;

   border-radius: 8px;
    height: 35px ;
    
        
   }


/* footer icons */
.icons {
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 250px;
    
    
}
.icons-2 {
    font-size: 25px;
    margin-top: 270px;
    margin-left: 450px;

}
   
