@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 }
  section, div {
  margin: 0;
  padding: 0;  
  }
  .logo{
    left: -80px;
    margin: 10px;
  }
.navlinks {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  max-height: 0px;
  align-items: center;
}
.navicon{
  color: rgb(95, 42, 22);
}
.iconlinks .navicon:hover{
  color: rgb(255, 255, 255);
}


.navlinks .link {
  position: relative;
  text-decoration: none;
  left: -95px;
  top: 10px; 
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  color: rgb(117, 52, 12);
}

.navlinks .link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;               
  height: 2px;
  background-color: rgb(117, 52, 12);
  transform: scaleX(0);       
  transform-origin: center;   
  transition: transform 0.3s ease-in-out;
}

.navlinks .link:hover::after{
  transform: scaleX(1);       
}
.navlinks .link.active::after{
  width: 100%;
}
.navlinks .link.active{
  color: white;
}
.navlinks.open {
    max-height: 280px; 
    max-width: 100%; 
  }
.iconlinks{
  position: absolute;
  right: -90px;
  top: 20px;
  }

.menuicon {
  color: rgb(95, 42, 22);
  
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 6px;
  display: none;
  transition: color 0.3s;
  z-index: 999;
}
.menuicon:hover {
  color: rgb(255, 255, 255);
}

 img {
  max-width: 100%;
  height: auto;
  display: flex;
}
.text{
  margin: 0%;
}

.navlinks {
  transition: max-height 0.5s ease-in-out;
}

.glassSelect {
  @apply w-full px-4 py-2 rounded-xl 
         bg-white/10
         border border-amber-400/30  
         text-gray-600 
         shadow-[0_0_15px_rgba(255,191,0,0.35)] 
         focus:outline-none
         focus:ring-2 focus:ring-amber-400 
         transition-all duration-300;
}


@media (max-width: 768px) {
  .navlinks {
    flex-direction:column;
    list-style:none;
    max-width: 600px;
    position:relative;
    top: 0px;
    left: 0px;
    align-items: center;
    gap: 7px;
    width: 100%;
    overflow:hidden;
    transition:  0.7s ease-in-out ;
  }
  .cupimg{
    width: 220px;
  }

  .logo{
    left: -5px;
  }
  .menuicon{
     display: block;
  }
   .iconlinks {
       position: absolute;
       left: 100px;
       top: 20px;
       }
         
  .headertext{
    position: relative;
    bottom: 110px;
  }
  
  .abouttext{  
  width: 200px;
  display: flex;
  position: relative;
  left: -50px;
  background-color: rgba(255, 153, 0, 0.678);
  }
  .icons-2{
    
    margin-top: 30px;
    width: 250px;
  }
 .footer {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
}