.navlinks{
  display: flex;
  gap: 2.5rem;
  list-style: none;
}
.navlinks .link{
    text-decoration: none;
    color: rgba(216, 55, 55, 0.932);
    
}
.menuicon{
    color: rgb(255, 39, 39);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
@media (max-width: 768px){
    .navlinks{
        position: relative;
        left: 0px;
        width: 100%;
        flex-direction: column;
        gap: 40px;
        display: none;
        padding: 10px 0px;
        border-radius: 5px;
       }
       .navlinks li .link{
        font-size: 1.5rem;
       margin-left: 10px;
      }
      .menuicon{
        display: block;
      }
        .navlinks li link .open{display: block;      
    }
     }