  html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 }
  section, div {
  margin: 0;
  padding: 0;  
  }
  .logo{
    left: -80px;
    margin: 10px;
  }
.navlinks {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}
.navicon{
  color: rgb(95, 42, 22);
}
.navicon:hover{
  color: rgba(255, 255, 255, 0.808);
}
.navlinks .link {
  position: relative;
  text-decoration: none; 
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  color: rgb(117, 52, 12);
}

.navlinks .link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;               
  height: 2px;
  background-color:rgb(255, 255, 255);
  transform: scaleX(0);       
  transform-origin: center;   
  transition: transform 0.3s ease-in-out;
}

.navlinks .link:hover::after{
  transform: scaleX(1);       
}
.navlinks .link.active::after{
  width: 100%;
}
.navlinks .link.active{
  color: white;
}
.iconlinks{
  position: absolute;
  right: -60px;
  top: 64px;
  }

.menuicon {
  color: rgb(95, 42, 22);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  transition: color 0.3s;
}
.menuicon:hover {
  color: rgb(255, 255, 255);
}

 img {
  max-width: 100%;
  height: auto;
  display: flex;
}
.text{
  margin: 0%;
}

.navlinks {
  transition: max-height 0.5s ease-in-out;
}


@media (max-width: 768px) {
  .navlinks {
    list-style:none;
    flex-direction:column;
    max-width: 500px;
    position:relative;
    top: 8px;
    left: 10px;
    align-items: start;
    gap: 7px;
    width: 100%;
    max-height:0;
    overflow:hidden;
    transition:  0.7s ease-in-out ;
  }
  .logo{
    left: -5px;
  }
  .menuicon{
     display: block;
  }
   .iconlinks {
    position: absolute;
    left: 300px;
    top: 20px;
   }
 
  .navlinks.open {
    max-height: 500px; 
    max-width: 100%; 
  }
  .headertext{
    position: relative;
    bottom: 110px;
  }
  .headerimg{
    position: relative;
     bottom: 265px;
    right: 20px;
    width: 320px;
  }
  .abouttext{  
  width: 200px;
  display: flex;
  position: relative;
  left: -50px;
  background-color: rgba(255, 153, 0, 0.678);
  
  }
  
}