  html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 }
  section, div {
  margin: 0;
  padding: 0;  
  }
  html {
  scroll-behavior: smooth;
  }
.navlinks {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}
.navicon{
  color: rgb(95, 42, 22);
}
.navlinks .link {
  text-decoration: none ; 
  font-size: 20px;
  font-weight: bold;
  color: rgba(114, 34, 22, 0.932);
}
.navlinks .link:hover {
  color: rgb(255, 255, 255);
  text-decoration:dashed!important;
  transition: 0.3s;
}
.menuicon {
  color: rgb(95, 42, 22);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.container.row .container-fluid {
  display: flex;
  flex-direction: column;
    /* Small consistent spacing */
}
 img {
  max-width: 100%;
  height: auto;
  display: flex;
}
.text{
  margin: 0%;
}



@media (max-width: 768px) {
  .navlinks {
    list-style:none;
    flex-direction:column-reverse;
    max-width: 500px;
    position:static;
    top:50px; /* below navbar */
    left: 30px;
    gap: 7px;
    width: 100%;
    /* start hidden */
    max-height:0;
    overflow:hidden;
    transition:  0.7s ease-in-out ;
  }
  .menuicon{
     display: block;
  }


  .navlinks.open {
    max-height: 500px; /* enough to fit all links */
    max-width: 100%; 
  }


@media (max-width: 576px) {
  
}
@media (max-width: 576px) {
  .navbar-icons i {
    font-size: 1.5rem;
    margin: 0 8px;
  } 
}
}